name: Deploy Bot

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # login to registry
            echo "${{ secrets.DOCKER_TOKEN }}" | docker login ghcr.io -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

            # Create a folder for the project
            mkdir -p ~/yt-downloader-bot
            cd ~/yt-downloader-bot

            # 1. Network
            docker network create telegram-net || true
            
            # 2. Local API Server
            docker stop local-bot-api || true
            docker rm local-bot-api || true
            docker run -d \
              --name local-bot-api \
              --network telegram-net \
              --restart unless-stopped \
              -e TELEGRAM_API_ID="${{ secrets.API_ID }}" \
              -e TELEGRAM_API_HASH="${{ secrets.API_HASH }}" \
              -e TELEGRAM_LOCAL=true \
              -v telegram_bot_api_data:/var/lib/telegram-bot-api \
              aiogram/telegram-bot-api:latest

            # 3. Bot
            # pull new image
            docker pull ghcr.io/${{ env.IMAGE_NAME }}:latest
            
            docker stop yt-downloader-bot || true
            docker rm yt-downloader-bot || true
            
            docker run -d \
              --name yt-downloader-bot \
              --network telegram-net \
              --restart unless-stopped \
              -e BOT_TOKEN="${{ secrets.BOT_TOKEN }}" \
              -e BOT_API_URL="http://local-bot-api:8081" \
              -v telegram_bot_api_data:/var/lib/telegram-bot-api \
              ghcr.io/${{ env.IMAGE_NAME }}:latest
            
            # cleanup
            docker image prune -f
